.data-list{
    text-align: center;
}
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.data-table thead {
  background-color: #007bff;
  color: white;
}

.data-table th,
.data-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.data-table tbody tr:hover {
  background-color: #f1f1f1;
}

.data-table button {
  margin-right: 8px;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.data-table .edit {
  background-color: #5063b3;
  color: #fff;
}

.data-table .del {
  background-color: #d32d2d;
  color: #fff;
}
